## Jupyter Compontents

# Update pyzmq to newest version, otherwise warning message is shown
pyzmq==18.0.1 # Python bindings for 0MQ
jupyter-console==6.0.0 # Jupyter terminal console
jupyter_kernel_gateway==2.3.0 # A web server for spawning and communicating with Jupyter kernels
ipyparallel==6.2.4 # Interactive Parallel Computing with IPython
jupyter_http_over_ws==0.0.6 # Jupyter support for HTTP-over-ws

## Jupyter Extensions

jupyter_contrib_nbextensions==0.5.1 # A collection of Jupyter nbextensions.
jupyter_nbextensions_configurator==0.4.1 # jupyter serverextension providing configuration interfaces for nbextensions.
jupyter-tensorboard==0.1.10 # Jupyter notebook integration for tensorboard.
papermill==1.0.1 # Parametrize and run Jupyter and nteract Notebooks
jupytext==1.1.6 # Jupyter notebooks as Markdown documents, Julia, Python or R scripts
nbresuse==0.3.1 # Simple Jupyter extension to show how much resources (RAM) your notebook is using
# currently not working voila==0.1.2 # Serving read-only live Jupyter notebooks

## Interactive Components

ipywidgets==7.4.2 # IPython HTML widgets for Jupyter
widgetsnbextension==3.4.2 # IPython HTML widgets for Jupyter
nbinteract==0.2.4 # Export interactive HTML pages from Jupyter Notebooks
qgrid==1.1.1 # a Jupyter notebook widget which uses SlickGrid to render pandas DataFrames within a Jupyter notebook
ipyaggrid==0.1.11 # Jupyter widget - ag-grid in the notebook
pivottablejs==0.9.0 # PivotTable.js integration for Jupyter/IPython Notebook

## Jupyter Visualization Libs

bqplot==0.11.5 # Plotting library for IPython/Jupyter Notebooks
ipympl==0.2.1 # Matplotlib Jupyter Extension

## Jupyter Tooling

nbdime==1.0.6 # Diff and merge of Jupyter Notebooks
remote_ikernel==0.4.6 # Running IPython kernels through batch queues