# Logging Configuration
SyslogFacility AUTH
LogLevel INFO

# Allow transfer of user environment variables
PermitUserEnvironment yes

# Alive Interval will make SSH connection more stable 
ClientAliveInterval 60
ClientAliveCountMax 10

# Allow Remote Port forwarding to an address other than localhost
# https://askubuntu.com/questions/50064/reverse-port-tunnelling
GatewayPorts clientspecified

# Only allow key-based authentication -> higher security
PasswordAuthentication no
ChallengeResponseAuthentication no
GSSAPIAuthentication no

# Activate SFTP server
Subsystem sftp internal-sftp

# Allow SSH-Agent Forwarding
AllowAgentForwarding yes

# Activate X11 Forwarding (GUI Access)  
X11Forwarding yes
X11UseLocalhost no
X11DisplayOffset 10
