# Light Requirements

## ML Frameworks
# installed via conda for mkl support: tensorflow==1.13.1 # TensorFlow is an open source machine learning framework for everyone.
keras==2.2.5 # Deep Learning for humans
xgboost==0.90 # Scalable, Portable and Distributed Gradient Boosting
scikit-learn==0.21.3 # A set of python modules for machine learning and data mining

## NLP
fasttext==0.9.1 # fasttext Python bindings, a library for efficient learning of word representations and sentence classification.
beautifulsoup4==4.8.0 # Beautiful Soup is a library that makes it easy to scrape information from web pages.
soupsieve==1.9.3 # A modern CSS selector implementation for Beautiful Soup.

## Others
pandas-profiling==2.3.0 # Generate profile report for pandas DataFrame
tensorboardX==1.8 # TensorBoardX lets you watch Tensors Flow without Tensorflow

## Jupyter
jupyter-tensorboard==0.1.10 # Jupyter notebook integration for tensorboard.
nbdime==1.1.0 # Diff and merge of Jupyter Notebooks
