# Minimum Requirements

## Utilities
httpie==2.1.0 # HTTPie - a CLI, cURL-like tool for humans.
cloudpickle==1.5.0  # Extended pickling support for Python objects
msgpack==1.0.0 # MessagePack (de)serializer.
msgpack-numpy==0.4.6 # Numpy data serialization using msgpack
cysignals==1.10.2 # Interrupt and signal handling for Cython
h5py==2.10.0 # Read and write HDF5 files from Python
seaborn==0.10.1 # Python visualization library based on matplotlib  - Basic
SQLAlchemy==1.3.18 # Database Abstraction Library
virtualenv==20.0.20 # Virtual Python Environment builder
pytest==5.4.3 # pytest: simple powerful testing with Python
autopep8==1.5.3 # A tool that automatically formats Python code to conform to the PEP 8 style guide
flake8==3.8.3 # The modular source code checker: pep8, pyflakes and co
black==19.10b0 # The uncompromising code formatter.
pylint==2.5.3 # python code static checker
pycodestyle==2.6.0 # Python style guide checker
pydocstyle==5.0.2 # Python docstring style checker
sortedcontainers==2.2.2 # Sorted Containers -- Sorted List, Sorted Dict, Sorted Set
simplejson==3.17.2 # Simple, fast, extensible JSON encoder/decoder for Python
mock==4.0.2 # Rolling backport of unittest.mock for all Pythons
python-dateutil==2.8.1 # 2.8.0 required by botocore: Extensions to the standard Python datetime module

# ML libraries
tensorboard==2.0.0 # TensorBoard lets you watch Tensors Flow

## Glances
# psutil==5.6.7 # Cross-platform lib for process and system monitoring in Python.
# bottle==0.12.18 # Fast and simple WSGI-framework for small web-applications.
# netifaces==0.10.9 # Portable network interface information.
# py-cpuinfo==5.0.0 # Get CPU info with pure Python 2 & 3
# glances==3.1.4.1 # A cross-platform curses-based monitoring tool
# pymdstat==0.4.2 # Python library to parse Linux /proc/mdstat

## Jupyter
jupytext==1.5.2 # Jupyter notebooks as Markdown documents, Julia, Python or R scripts
nbresuse==0.3.6  # Simple Jupyter extension to show how much resources (RAM) your notebook is using
ipympl==0.5.7 # Matplotlib Jupyter Extension
jupyterhub==1.1.0 # JupyterHub: A multi-user server for Jupyter notebooks
remote_ikernel==0.4.6 # Running IPython kernels through batch queues
jupyter_contrib_nbextensions==0.5.1 # A collection of Jupyter nbextensions.
jupyter_nbextensions_configurator==0.4.1 # jupyter serverextension providing configuration interfaces for nbextensions.
# jupyter-tensorboard==0.1.10 # Jupyter notebook integration for tensorboard.
git+https://github.com/cloudrainstar/jupyter_tensorboard.git # Use other version with support for tensorflow 2.X
nbdime==2.0.0 # Diff and merge of Jupyter Notebooks