#
####### Deprecated/Removed #######
#
# too big > 40 MB - cassandra-driver==3.17.1 # Python driver for Cassandra
# too big > 200 MB - pymagnitude==0.1.120 # A fast, efficient universal vector embedding utility package.
# deprecated geoplotlib==0.3.2 # python toolbox for geographic visualizations
# deprecated hypertools==0.5.1 # A Python toolbox for gaining geometric insights into high-dimensional data
# failed during installation geoviews==1.5.3 # GeoViews is a Python library that makes it easy to explore and visualize geographical, meteorological, and oceanographic datasets
# incompatible pytext-nlp==0.1.4 # pytorch modeling framework and model zoo for text models
# Incopatible with numpy and requests version mxnet==1.3.0.post0 # MXNet is an ultra-scalable deep learning framework. This version uses openblas.
# too big sympy # Computer algebra system (CAS) in Python
# do not install, too big - pystan==2.18.0.0 # Python interface to Stan, a package for Bayesian inference - Requirement for prophet # 55 MB
# do not install, too big - fbprophet==0.2.1 # Automatic Forecasting Procedure - 64 MB
# has some dependency problems - too big. allennlp==0.5.1 #An open-source NLP research library, built on PyTorch.
# incompatible & too big pymc3==3.6 # Probabilistic Programming in Python: Bayesian Modeling and Probabilistic Machine Learning with Theano
# version conflicts mlbox==0.5.3 # A powerful Automated Machine Learning python library.
# does not install pattern==3.6 # Web mining module for Python, with tools for scraping, natural language processing, machine learning, network analysis and visualization. 
# does not install currently, c core is missing - igraph-python==0.7.4 # High performance graph data structures and algorithms
# depreacated: patsy # Describing statistical models in Python using symbolic formulas
# too many/specific dependencies: pip install tensorflow-data-validation
# not active anymore: polyglot
# too big: 70MB hdbcli==2.4.151 # SAP HANA Python Client
# not compatible with tf 2.0: alibi==0.3.2 # Algorithms for monitoring and explaining machine learning models
# Install not working: voila==0.1.2 # Serving read-only live Jupyter notebooks
# Too big (7MB): jupyterthemes
# deprecated perfume-bench==0.1.6 ; python_version > '2.7' # Interactive performance benchmarking in Jupyter
# not installable via python 3.7: sklearn-contrib-lightning==0.5.0 # Large-scale sparse linear classification, regression and ranking in Python
# does not work with torch 1.2 currently: syft==0.1.25a1 # A Library for Private, Secure Deep Learning
# Not compqtible with tf 2: tf-encrypted==0.5.9 # A Framework for Machine Learning on Encrypted Data.
# incompatible autokeras==0.3.7 # AutoML for deep learning based on Keras
# incompatible auto-sklearn==0.5.0 # 3MB - Automated machine learning based on sklearn.
# gmpy build error for v0.2 ludwig==0.2 # A deep learning experimentation toolbox
# Too big? ray==0.6.4 # > 200 MB A system for parallel and distributed Python that unifies the ML ecosystem.
# requires ray modin==0.4.0 # Modin: Make your pandas code run faster by changing one line of code.
# tpot==0.10.2 # License Problem: GPL - Tree-based Pipeline Optimization Tool
# deepwalk==1.0.3 # License Problem: GPL - DeepWalk online learning of social representations. 
# Does not work with python 3.7: trfl==1.0.1 # trfl is a library of building blocks for reinforcement learning algorithms.
# 190MB pyarrow==0.14.1 # cross-language development platform for in-memory data.
# requires arrow: doesnt install: vaex==0.3.10 # Veax is a graphical tool to visualize and explore large tabular datasets.
# requires pyarrow feather-format==0.4.0 # Feather: fast, interoperable binary data frame storage for Python, R, and more powered by Apache Arrow
# Deprecated: pep8==1.7.1 # Python style guide checker
# Not needed for python 3.7: dataclasses==0.7 # A backport of the dataclasses module for Python 3.6
# too big 40MB django==2.2.4 # A high-level Python Web framework that encourages rapid development and clean, pragmatic design.
# 2,3MB hvplot \
# 3.1MB intake \
# 4.3MB hypertools \
# 12MB datashader \
# pyramid
# 20MB: interpret \
# not compatible with flake8; prospector
# needs arrow vaex \
# Downgrade plotly: cufflinks \